$button-border-radius: 0.3rem;
$button-transition-time: 0.15s;

$size_sm_font-size: 0.8rem;
$size_md_font-size: 1rem;
$size_lg_font-size: 1.2rem;

$button_size_sm_padding: 0.3rem 0.6rem;
$button_size_md_padding: 0.5rem 1rem;
$button_size_lg_padding: 0.7rem 1.4rem;

$input_border_radius: 0.3rem;

$input_size_sm_padding: 0.25rem 0.5rem;
$input_size_md_padding: 0.375rem 0.75rem;
$input_size_lg_padding: 0.5rem 1rem;